body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app .noprint {
  display: flex;
  width: 100%;
}
.noprint .inputs {
  width: 50%;
  height: 95vh;
  display: flex;
  justify-content: space-between;
}

.noprint.help-text {
  font-style: italic;
  text-align: center;
  display: block;
}

.inputs .col {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.noprint .label {
  font-style: italic;
  text-align: center;
}

.inputs textarea {
  height: 100%;
}

.dynamic-preview {
  width: 50%;
  height: 95vh;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.dynamic-preview .parallel-doc {
  border: 2px solid black;
}

.parallel-doc .parallel-paragraph {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.parallel-paragraph .pgraph {
  width: 48%;
}

.parallel-doc {
  height: 100%;
  overflow: scroll;
}

.print {
  display: none;
}

@media print {
  .app .noprint {
    display: none;
  }

  .print {
    display: initial;
  }

  .parallel-doc {
    overflow: hidden;
  }
}
